$body-color: #181818;
$yellow-color: #ffc900;
$menu-color: #000000;
$gray-color: #eee;
$dark-gray: darkgray;

.navbar {
  background-color: $menu-color;
}

.navbar-item {

  &--light {
    @media screen and (max-width: 1024px) {
      background-color: $body-color;
      color: $dark-gray;

      &:hover {
        color: $gray-color;
      }
    }
  }
}

.navbar-menu {
  background-color: $menu-color;
  padding: 0;
}

.navbar-dropdown {
  padding-bottom: 0rem;
  padding-top: 0rem;

  @media screen and (min-width: 1024px) {
    background-color: #fff;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top: none;
    box-shadow: 0 8px 8px rgba(10,10,10,.1);
    display: block;
    font-size: .875rem;
    left: 0;
    min-width: 100%;
    position: absolute;
    top: 100%;
    z-index: 20;
  }
}

.navbar-dropdown a.navbar-item {
  @media screen and (min-width: 1024px) {
    padding-right: 1rem;
  }
}

.navbar-link,
a.navbar-item {
  @media screen and (max-width: 1024px) {
    background-color: $body-color;
    color: $dark-gray;
  }
}

.navbar-link.is-active, 
.navbar-link:focus, 
.navbar-link:focus-within, 
.navbar-link:hover, 
a.navbar-item.is-active, 
a.navbar-item:focus, 
a.navbar-item:focus-within, 
a.navbar-item:hover {
  background-color: $body-color;
  color: $gray-color;
}

.navbar-link {

  @media screen and (min-width: 1024px) {

    &:hover {
      color: $dark-gray;
    }

    &:active {
      background-color: $body-color;
      color: $gray-color;
    }

    &:visited {
      color: $dark-gray;
    }
  }
}

a.navbar-item--logo {
  background-color: $menu-color;

  @media screen and (max-width: 1024px) {
    background-color: $menu-color;
  }
}

.mobile-buttons {
  margin-left: auto;
  visibility: hidden;

  @media(max-width: 1023px){
    visibility: visible;
  }
}

.nav-buttons {
  @media(max-width: 1023px){
    display: none;
  }
}

.login-button {
  background-color: $menu-color;
  border: 1px solid $yellow-color;
  color: $yellow-color;
  text-transform: uppercase;

  &:hover {
    color: $yellow-color;
  }
}

.sign-button {
  color: $menu-color;
  background-color: $yellow-color;
  border: 1px solid $yellow-color;
  text-transform: uppercase;

  &:hover {
    color: $menu-color;
  }
}

.is-arrowless {
  display: flex;
  justify-content: space-between;
}

.navbar-burger {
  margin-left: 0;
}
